// TODO

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 2rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 2rem;

  h1 {
    color: var(--Heading);
    transition: 0.2s;

    &:hover {
      color: var(--Info);
    }
  }

  p {
    color: var(--Info);
    margin-top: 0.5rem;
  }

  div {
    margin-top: 1rem;
    gap: 0.5rem;

    display: flex;

    color: var(--Info);
    span {
      margin-right: 2rem;
    }
  }
}

.morePosts {
  margin-top: 5rem;
  span {
    font-weight: bold;
    border: none;
    color: var(--Highlight);
    cursor: pointer;
  }
}

// .hero {
//   max-width: 600px;

//   > span {
//     font-size: 1.5rem;
//     font-weight: bold;
//   }

//   h1 {
//     font-size: 4.5rem;
//     line-height: 4.5rem;
//     font-weight: 900;
//     margin-top: 2.5rem;

//     span {
//       color: var(--cyan-500);
//     }
//   }

//   p {
//     font-size: 1.5rem;
//     line-height: 2.25rem;
//     margin-top: 1.5rem;

//     span {
//       color: var(--cyan-500);
//       font-weight: bold;
//     }
//   }

//   button {
//     margin-top: 2.5rem;
//   }
// }
